.App {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  /* background-image: url("./assets/img/image.png");
  background-repeat: no-repeat;
  background-position: 150px 20px;
  background-size: 40%; */
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  border-radius: 5px;
}

.ant-menu-item-selected {
  background-color: #9c8bad!important;
  color: #f7f7f7!important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  color: #fafafa;
}
